<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Lista produktów</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Akcje</th>
                </tr>
            </thead>
        
        <tbody>
            <% for (let product of products) { %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/cart/add/<%=product.id%>" class="list-actions-button-order">Do koszyka</a></li>
                            <li><a href="/products/details/<%=product.id%>" class="list-actions-button-details">Szczegóły</a></li>
                            <li><a href="/products/edit/<%=product.id%>" class="list-actions-button-edit">Edytuj</a></li>
                            <li><a href="/products/delete/<%=product.id%>" class="list-actions-button-delete">Usuń</a></li>
                        </ul>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
        <p><a href="/products/add">Dodaj nowy produkt</a></p>
    </main>

    <%- include('../../fragments/footer.ejs') %>
