<%- include('../../fragments/header.ejs') %>

    <main>
        <h2><%= __('account.title') %></h2>
        <form class="form" method="post" action="<%=formAction%>">
                  <input type="hidden" name="id" value="<%=user.id %>" />


            
                <label for="name"><%= __('account.name') %></label>
                <input type="text" name="Name" id="Name" value="<%=user.Name%>"/>
                <label for="surname"><%= __('account.surname') %></label>
                <input type="text" name="Surname" id="Surname" value="<%=user.Surname%>"/>
                <label for="surname"><%= __('account.phone') %></label>
                <input type="number" name="phone" id="phone" value="<%=user.phone%>"/>
                <label for="email"><%= __('account.email') %></label>
                <input type="text" name="email" id="email" value="<%=user.email%>"/>
                
                <div class="form-buttons">
                   
                        <input class="list-actions-button-order" type="submit" value="<%= __('account.button') %>" />
   
                </div>
            
            
                
                
        </form>
    </main>

    <%- include('../../fragments/footer.ejs') %>
