<%- include('../../fragments/header.ejs') %>

    <main>
       
<% if(!loggedUser) { %>
    <div id="login">
        <h5><%= __('login.title') %></h5>
        <form method="post" action="/login" novalidate>
            <label for="loginEmail"><%= __('login.email') %></label>
            <input type="email" id="loginEmail" name="email">

            <label for="loginPassword"><%= __('login.password') %></label>
            <input type="password" id="loginPassword" name="password">

            <input type="submit" value="<%= __('login.login') %>">
            <span id="loginErrors"><%= loginError ? loginError : ''%></span>
        </form>
    </div>
<% } else { %>
    <span>Jesteś zalogowany jako: <%=loggedUser.Name + " " + loggedUser.Surname%></span>
    <a href="/logout">Wyloguj się</a>
<% } %>
    </main>

    
    <%- include('../../fragments/footer.ejs') %>