<%- include('../../fragments/header.ejs') %>

    <main>
        <<h2><%= pageTitle %></h2>

        <form class="form">
            
            <label for="productName">Nazwa produktu<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="name" id="name" placeholder="2-60 znaków" value="<%= product.name %>"
        
            <label for="price">Cena produktu<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="price" id="price" value="<%= product.price %>"

            
           

        </form>



    </main>

    <%- include('../../fragments/footer.ejs') %> 

</body>
</html>