<%- include('../fragments/header.ejs') %>

    <main>
        <h2><%= __('cart.title') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('cart.name') %></th>
                    <th><%= __('cart.price') %></th>
                    <th><%= __('cart.quantity') %></th>
                    <th><%= __('cart.actions') %></th>
                    
                </tr>
            </thead>
       
            <tbody>
                
                <% for (let cart of carts) { %>
                    
                    <tr>
                        
                        <td><%= cart.name %></td>
                        <td><%= cart.price %></td>
                        <td><%= cart.productlist.Quantity %></td>


                        <td>
                            <ul class="list-actions">
                            <a href="/cart/delete/<%=cart.productlist.id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                        </ul>
                    </td>
                    <% } %>
               
                </tr>
               


                </tbody>
        </table>
        <!-- <a href="" class="list-actions-button-order">Zamów</a> -->

    </main>

    <%- include('../fragments/footer.ejs') %>
