<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Mój koszyk</h2>
        <table>
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                    <th>Akcje</th>
                </tr>
            </thead>

            <tbody>
                <% for (let cart of carts) { %>
                <% for (let product of product.products) { %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                        <td><%= cart.quantity %></td>
                        <td>
                            <ul class="list-actions">
                            <a href="" class="list-actions-button-order">Zamów</a>
                            <a href="" class="list-actions-button-delete">Usuń</a>
                    </ul>
                    </td>
                </tr>
                <% } %>

                <% } %>
                </tbody>
        </table>
                
    </main>

    <%- include('../fragments/footer.ejs') %>
