<%- include('../fragments/header.ejs') %>

    <main>
        <h2><%= __('account.title') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('account.name') %></th>
                    <th><%= __('account.surname') %></th>
                    <th><%= __('account.email') %></th>
                    <th><%= __('account.action') %></th>
                </tr>
            </thead>
        
        <tbody>
            <% for (let user of users) { %>
                <tr>
                    <td><%= user.Name %></td>
                    <td><%= user.Surname %></td>
                    <td><%= user.email %></td>
                    <td>
                <ul class="list-actions">
                     <a href="/account/edit/<%=user.id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                </ul>
                </td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </main>

    <%- include('../fragments/footer.ejs') %>
