<%- include('../fragments/header.ejs') %>

    <main>
        <% if (formMode == 'createNew') { %>
          <h2><%= __('product.form.add.pageTitle') %></h2>
          <% } %>
          <% if (formMode == 'showDetails') { %>
            <h2><%= __('product.form.details.pageTitle') %></h2>
            <% } %>
            <% if (formMode == 'edit') { %>
                <h2><%= __('product.form.edit.pageTitle') %></h2>
                <% } %>
        
        <form class="form" novalidate  method="post" action="<%=formAction%>" >
                  <input type="hidden" name="id" value="<%= product.Product_id %>" />


            
                <label for="name"><%= __('product.form.pname') %><abbr title="required" aria-label="required">*</abbr></label>
                <input class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>"
                 type="text" name="name" id="nameID" placeholder="2-60 znaków" value="<%= product.name %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <span id="errorProductName" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                        <%= validationErrors.find(e => e.path.includes('name')).message %>
                    <% } %>
                </span>
            
                <label for="price"><%= __('product.form.pprice') %><abbr title="required" aria-label="required">*</abbr></label>
                <input class="<%= validationErrors.find(e => e.path.includes('price')) ? 'error-input' : '' %>"
                type="number" name="price" id="priceID" value="<%= product.price %>" 
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
                <span id="errorPrice" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('price'))) { %>
                        <%= validationErrors.find(e => e.path.includes('price')).message %>
                    <% } %>
                </span>

                <% if(loggedUser) { %>
                
                <% if (formMode == 'showDetails') { %>
                    <div class="section-buttons">
                        <a href="/products/edit/<%=product.Product_id%>" class="list-actions-button-edit"><%= __('form.actions.edit') %></a>
                    </div>
                    <!-- 
                    <div>
                        <div class="form-buttons">
                    <a href="/products/cart/<%=product.Product_id%>" class="list-actions-button-order">Do Koszyka</a>
                </div>
                doesnt work -->
                    <% } %>
                  
                    <% } %>

                    <div class="form-buttons">
                        <p id="errorsSummary" class="errors-text"></p>
                        <% if (formMode != 'showDetails') { %>
                            <% if (formMode == 'createNew') { %>
                            <input class="list-actions-button-order" type="submit" value="<%= __('product.form.add.btnLabel') %>" />
                            <% } %>
                            <% if (formMode == 'edit') { %>
                            <input class="list-actions-button-order" type="submit" value="<%= __('product.form.edit.btnLabel') %>" />
                            <% } %>
                            <a class="list-actions-button-delete" href="/products"><%= __('form.actions.return') %></a>
                        <% } else { %>
                            <a class="list-actions-button-details" href="/products"><%= __('form.actions.return') %></a>
                        <% } %>
                    </div>
                    
        </form>
    </main>

    <%- include('../fragments/footer.ejs') %>
