<%- include('../fragments/header.ejs') %>

    <main>
        <h2><%= __('product.title') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('product.fields.name') %></th>
                    <th><%= __('product.fields.price') %></th>
                    <th><%= __('list.actions.title') %></th>
                </tr>
            </thead>
        
        <tbody>
            <% for (let product of products) { %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/products/details/<%=product.Product_id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                            <% if(loggedUser) { %>
                            <!-- <li><a href="/cart/add/<%=product.Product_id%>" class="list-actions-button-order">Do koszyka</a></li> -->
                            <li><a href="/products/edit/<%=product.Product_id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                            <li><a href="/products/delete/<%=product.Product_id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                            <% } %>

                        </ul>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <% if(loggedUser) { %>

        <p><a href="/products/add" class="list-actions-button-order"><%= __('product.list.addNew') %></a></p>
        <% } %>

    </main>

    <%- include('../fragments/footer.ejs') %>
