<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" />
   


    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>ViShop</title>

    
</head>
<body>
    <header>
        <h1>ViShop</h1>
        <img src="/images/logo.png" alt="ViShop Logo">
        
    </header>
    <nav>
        <ul>
            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona główna</a></li>
            <li><a href="/products" class="<%= navLocation == 'productlist' ? 'active' : ''%>">Lista produktów</a></li>
            <% if(loggedUser) { %>
            <li><a href="/cart" class="<%= navLocation == 'cart' ? 'active' : ''%>">Koszyk</a></li>
            <li><a href="/account" class="<%= navLocation == 'account' ? 'active' : ''%>">Moje konto</a></li>
            <li><a href="/orders" class="<%= navLocation == 'order' ? 'active' : ''%>">Moje zamówienia</a></li>
            <% } %>
            <% if(!loggedUser) { %>
            <li><a href="/loginpage" class="<%= navLocation == '' ? 'active' : ''%>">Zaloguj się</a></li>
            <% } %>
        </ul>
    </nav>